<div class="container">
  <p><strong>From: <%= @message.name %></strong></p>
  <p><strong>Subject: <%= @message.subject %></strong></p>
  <p><strong>Message:</strong>
    <br><%= @message.content %>
  </p>
</div>
