<div class="row">
  <div class="history-image-flex-box">
    <%= cl_image_tag @company_history.pictures.first.url unless (@company_history.nil? || @company_history.pictures.empty?) %>
  </div>
  <div class="history-content-box">
    <div class="history-title">
      <%= image_tag "insurance.svg", height: '80' %>
      <h2><%= @company_history.title.html_safe unless (@company_history.nil? || @company_history.title.nil?) %></h2>
    </div>
    <p><%= @company_history.content.html_safe unless (@company_history.nil? || @company_history.content.nil?) %></p>
  </div>
</div>
