<div class="banner">
  <h2><%= title_section(t('our_know_how')) %></h2>
  <p>
    <%= (@know_how.nil? || @know_how.content.nil?) ? @no_translation : @know_how.content.html_safe %>
  </p>
  <div class="buttons-flexbox">
    <%= link_to t('realizations').capitalize, realizations_path %>
    <%= link_to t('your_project').capitalize, your_project_path %>
  </div>
</div>
