<div class="banner">
  <h2>NOTRE <strong>SAVOIR-FAIRE</strong></h2>
  <p>
    <% if !@know_how.nil? && @know_how.content.nil? %>
      <%= @no_translation %>
    <% else %>
      <%= @know_how.content.html_safe %>
    <% end %>
  </p>
  <div class="buttons-flexbox">
    <%= link_to t('realizations').capitalize, realizations_path %>
    <%= link_to t('your_project').capitalize, your_project_path %>
  </div>
</div>
