

  <div class="col-xs-12 col-sm-6">
   <div class="section-localization-right">
    <h2> ZONE DE CHALANDISE </h2>
    <div class="map" style="background-image: url('<%= image_path "map.png"%>');">
      <p class= "dom-tom"> DOM-TOM </p>
    </div>
   </div>
 </div>
</div>



