<div class="row">
  <div class="home-section-title">
    <h2><%= title_section(t('our_values')) %></h2>
  </div>
  <% @company_values.each do |value| %>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="value-card">
        <div class="value-icon">
          <%= cl_image_tag value.icon, height: '100' unless (value.nil? || value.icon.nil?) %>
        </div>
        <div class="value-name">
          <%= (value.nil? || value.content.nil?) ? @no_translation : value.title.upcase %>
        </div>
        <p class="value-description">
          <%= (value.nil? || value.content.nil?) ? @no_translation : value.content.html_safe %>
        </p>
      </div>
    </div>
  <% end %>
</div>
