<div class="row">
  <div class="home-section-title">
    <h2>NOS <strong>VALEURS</strong></h2>
  </div>
  <% @company_values.each do |value| %>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="value-card">
        <div class="value-icon">
          <%= cl_image_tag value.icon, height: '100' %>
        </div>
        <div class="value-name">
          QUALITÉ
        </div>
        <p class="value-description">
          <% if value.content.nil? %>
            <%= @no_translation %>
          <% else %>
            <%= value.content.html_safe %>
          <% end %>
        </p>
      </div>
    </div>
  <% end %>
</div>
