// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');
// Define fonts for body and headers
$body-font: "Open Sans", "Helvetica", "sans-serif";
$headers-font: "Poiret One", "cursive";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";


body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

p, p > span {
  font-size: 14px !important;
  font-weight: lighter;
  letter-spacing: 2px !important;
}

h2 {
  font-size: 24px !important;
  font-style: bold;
  letter-spacing: 2px;
}


