.dashboard-container {
  display: flex;
  flex-direction: column;
}

.btn-toggle-section-model {
  text-align: center;
  background-color: $light-gray;
  letter-spacing: 2px;
  border-radius: 2px;
  padding: 8px 0;
  margin: 8px 0;
  cursor: pointer;
  &:hover {
    background-color: #ccc;
  }
}

.dashboard-section {
  display: none;
}

.arrow-dashboard-section-active {
  transform: rotate(180deg);
}


// Messages

.row-message {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  margin: 5px 0;
  border-radius: 3px;
  p {
    margin-bottom: 0;
  };
  a {
    padding: 0 15px;
  }
}
