.dashboard-container {
  display: flex;
  flex-direction: column;
}

.btn-toggle-section-model {
  text-align: center;
  background-color: $light-gray;
  letter-spacing: 2px;
  border-radius: 2px;
  padding: 8px 0;
  margin: 8px 0;
  cursor: pointer;
  &:hover {
    background-color: #ccc;
  }
}

.dashboard-section {
  display: none;
}

.arrow-dashboard-section-active {
  transform: rotate(180deg);
}

// For all text editors
.note-editable {
  height: 150px !important;
}

// Messages

.row-message {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  margin: 5px 0;
  border-radius: 3px;
  p {
    margin-bottom: 0;
  };
  a {
    padding: 0 15px;
  }
}

// Company History
.note-editor {
  z-index: 0;
}

.edit_company_history {
  margin-bottom: 20px;
}

// Company Values & Company Know Hows
#section-model-values, #section-model-know-how {
  .col-xs-12 {
    text-align: center;
  };
  .note-editor {
    margin-top: 30px;
  }
}

// Projects
.project-col {
  margin-bottom: 100px;
  .row {
    padding: 10px;
  }
}

.project-pictures-col {
  border: 1px solid #ccc;
  padding: 10px;
}
