.dashboard-container {
  display: flex;
  flex-direction: column;
}

.btn-toggle-section-model {
  text-align: center;
  background-color: $light-gray;
  letter-spacing: 2px;
  border-radius: 2px;
  padding: 8px 0;
  margin: 8px 0;
  cursor: pointer;
  &:hover {
    background-color: #ccc;
  }
}

.dashboard-section {
  display: none;
}

.arrow-dashboard-section-active {
  transform: rotate(180deg);
}

// For all text editors
.note-editable {
  height: 150px !important;
}

// Messages

.row-message {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  margin: 5px 0;
  border-radius: 3px;
  p {
    margin-bottom: 0;
  };
  a {
    padding: 0 15px;
  }
}

// Company History
.note-editor {
  z-index: 0;
}

.edit_company_history {
  margin-bottom: 20px;
}

// Company Values & Company Know Hows
#section-model-values, #section-model-know-how {
  .col-xs-12 {
    text-align: center;
  };
  .note-editor {
    margin-top: 30px;
  }
}

// Projects
.project-col {
  margin-bottom: 100px;
  .row {
    padding: 10px;
  }
}

.project-pictures-col {
  border: 1px solid #ccc;
  padding: 10px;
}

// Projects

#section-model-projects, #section-model-offers {
  .row {
    margin: 10px 0;
    margin-bottom: 35px;
    padding: 15px;
    background-color: $light-gray;
    border-radius: 3px;
    box-shadow: 1px 1px 3px rgba(200,200,200,0.5);
  };
  .col-sm-6:nth-child(1) {
    font-size: 16px;
  };
  .col-sm-6:nth-child(2) {
    height: 530px;
    overflow: scroll;
    font-size: 12px;
  }
}

.project-pic, .offer-pic {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  margin-top: 15px;
  padding: 5px;
  .edit_picture {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
  }
}

.new-project-form .nested-fields {
    display: inline-block;
    input {
      width: 225px;
    }
}
