// Specific CSS for your home-page
// .section {
//   height: calc(100vh - 120px);
//   display: flex;
//   align-items: center;
// }

// FOR ALL SECTIONS

.home-section-title {
  width: fit-content;
  height: 120px;
  border-left: 1px solid #000;
  padding-left: 15px;
}

// SECTION HISTORY
.history-image-flex-box {
  display: flex;
  justify-content: flex-end;
  img {
    width: 60%;
    height: 340px;
  }
}

.history-content-box{
  position: relative;
  bottom: 100px;
  width: 60%;
}

.history-title {
  width: min-content;
  border-left: 1px solid #000;
  height: 100px;
  display: flex;
  margin-bottom: 35px;
  align-items: flex-end;
  padding-left: 15px;
  position: relative;
  right: 15px;
  img {
    position: absolute;
    top: -50px;
    left: 0;
  };
  h2 {
    margin-bottom: -5px;
  }
}

// SECTION MISSION

.section-mission {
  .banner {
    height: 185px;
    text-align: center;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
  };
  p {
    color: #fff;
    width: 50%;
  }
}


// SECTION VALUES AND SECTION KNOW HOWS

.section-values, .section-know-hows {
  .col-xs-12 {
    text-align: center;
  };
  p {
    margin-top: 35px;
  }
}
// SECTION VALUES
.section-values {
  margin: 50px auto;
}


// SECTION KNOW HOWS
.section-know-hows {
  margin: 120px auto;
}


// SECTION LOCALIIZATION

.guarantee-1, .guarantee-2 {
  display: flex;
  align-items: center;
  padding: 60px;
  h4 {
    margin-left: 20px;
  }
}

.map {
  height: 350px;
  width: 500px;
  background-size: cover;
  .dom-tom {
    display: block;
    padding: 10px;
    background: white;
    max-width: fit-content;
    border-radius: 2px;
    position: absolute;
    bottom: 20px;
    left: 40px;
  }
}

.section-localization .row {
    display: flex;
    align-items: center;
    justify-content: center;
}


