@media screen and (max-width: 1024px) {

  // NAVBAR
  #dropdown-menu-btn {
    display: block;
  };

  .nav-list {
    display: none;
  };

  // ALL PAGES
  .page {
    margin-top: 70px;
  }

  // HOME
  .map {
    width: auto;
  }

  .home-service-box, .map {
    left: 0;
  };

  // REALISATIONS

  // PROJECT SHOW
  .row-project-carousel {
    width: 100%;
  };

  .slick-dots {
    display: inline-block;;
    width: 100%;
    bottom: -30px;
    right: 0;
  };

  .slick-arrow {
    z-index: 8;
    left: 25px;
    &:before {
      font-size: 60px;
    }
  };

  .slick-prev {
    top: 35%;
  };

  .slick-next {
    top: 65%;
  };

  .project-infos {
    justify-content: center;
    margin: 70px 0 70px 0;
  };

  .row-project-content {
    width: 100%;
    margin: 0;
    text-align: center;
    .project-show-title-vertical-bar {
      width: 0;
    }
  };

  .row-project-content h2 {
    width: 100%;
  };

  // YOUR PROJECT
  .your-project-banner {
    h1, ul {
      width: 95%;
    };
  };

  .section-scroll:last-child {
    height: 135vh;
  }

  // CONTACT

}

@media screen and (max-width: 768px) {

  // HOME
  .section-history,
  .section-values,
  .section-localization {
    padding: 0 35px;
  };

  .section-values .col-md-4:last-child {
    width: 100%;
    margin-top: 50px;
  };

  #section-values .col-md-4:last-child {
    margin-top: 0;
  };

  .value-card {
    width: 100%;
    margin-bottom: 50px;
  };

  // REALISATIONS

  // PROJECT SHOW

  // YOUR PROJECT
  .left_column_your_project,
  .right_column_your_project {
    flex: 1 100%;
  };

  .left_column_your_project {
    margin-bottom: 50px;
  }

  .section-scroll {
    height: auto;
    margin: 165px auto;
  };

  // CONTACT

}

@media screen and (max-width: 425px) {
  // ALL PAGES
  // .page {
  //   margin-top: 200px;
  // };

  // HOME
  .history-image-flex-box {
    display: none;
  };

  .history-content-box {
    width: 100%;
  };

  #section-mission h2, #section-know-how h2 {
    margin-bottom: 25px;
  };

  .history-title {
    border: none;
    padding: 0;
    // margin: 35px auto;
    // text-align: center;
    img {
      display: none;
    }
  };

  .title-with-bar {
    display: none;
  };


  .buttons-flexbox {
    flex-wrap: wrap;
    justify-content: center;
  };

  #section-localization .title-with-short-bar {
    border: none;
  };

  .map {
    background-size: contain;
    background-repeat: no-repeat;
  };



  // REALISATIONS

  // PROJECT SHOW
  .project-infos {
    flex-wrap: wrap;
    justify-content: space-between;
    div {
      padding: 0;
      text-align: center;
    }
  }

  // YOUR PROJECT
  .your-project-banner ul {
    flex-wrap: wrap;
  };

  .footer {
    position: absolute;
    top: 1375vh;
  }

  // CONTACT
  .col-bootstrap-in-form-left {
    padding-right: 0;
  };

  .col-bootstrap-in-form-right {
    padding-left: 0;
  }
}
