<div class="row">
  <div class="col-xs-12 col-sm-6">
    <div class="section-localization-left">
      <div class="guarantee-1">
        <div class="icon-test-1">
          <%= image_tag "guarantee-certificate.png", width: "80", height: "80" %>
        </div>
        <h4>
          GARANTIE 10 ANS 
        </h4>
      </div>
      <div class="guarantee-2">
        <div class="icon-test-1">
          <%= image_tag "quality-awards.png", width: "80", height: "80" %>
        </div>
        <h4>
          QUALITÉ 100% PROFESSIONNELLE
        </h4>
      </div>
    </div>
  </div>


  <div class="col-xs-12 col-sm-6">
   <div class="section-localization-right">
    <h2> ZONE DE CHALANDISE </h2>
    <div class="map" style="background-image: url('<%= image_path "map.png"%>');">
      <p class= "dom-tom"> DOM-TOM </p>
    </div>
   </div>
 </div>
</div>


  