<h1>Home</h>

<h2>Company</h2>
<p><%= @company_values.content %></p>

<h2>Histoire de l'entreprise</h2>
<p><%= @history.first.content %></p>

<h2>Savoir faire</h2>
<p><%= @company_know_hows.first.content %></p>
