<div class="container page" data-page-name="home">
  <div class="section section-history">
    <%= render 'sections/history' %>
  </div>
  <div class="section section-values">
    <%= render 'sections/values' %>
  </div>
  <div class="section section-know-how">
    <%= render 'sections/know_how' %>
  </div>
  <div class="section section-localization">
    <%= render 'sections/localization' %>
  </div>
</div>
