<div class="page" data-page-name="your-project">
  <h1>Houses</h1>
  <ul>
    <% @houses.each do |house| %>
    <li><%= house.category %> - <%= house.name %></li>
    <% end %>
  </ul>

  <div class="value-card">
    <div class="value-icon">
    <%= image_tag "quality", height: '100' %>
    </div>
    <div class="value-name">
      QUALITÉ
    </div>
    <p class="value-description">
      Nous offrons une qualité 100% professionelles.
    </p>
  </div>
</div>
