<div class="page" data-page-name="your-project">
  <div class="banner">
    <h3><%= @banner.tagline %></h3>
    <ul>
      <li><%= t('modular').upcase %></li>
      <li><%= t('tailored').upcase %></li>
      <li><%= t('preconceived').upcase %></li>
    </ul>
  </div>
</div>
