<div class="container page" data-page-name="realizations">
  <div class="project-carousel">
    <% @project.pictures.each do |pic| %>
      <%= cl_image_tag pic.url, height: '150' %>
    <% end %>
  </div>
</div>
