<p>Tu as un message de <%= @message.name.capitalize %>!</p>

<p>Type de travaux: <%= @message.type_de_travaux %></p>
<p>Corps de métier: <%= @message.corps_de_metier %></p>
<p><%= @message.content %></p>

