.btn {
  border: 1px solid #ccc;
  transition: all 0.3s;
  &:hover {
    background-color: #ccc;
    color: #fff;
  }
}

.btn-delete, .btn-save, .btn-add {
  padding: 5px 10px;
  display: block;
  width: fit-content;
  color: #fff;
  border-radius: 3px;
  transition: all 0.3s;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

.btn-delete {
  background-color: rgb(255,0,0);
  &:hover {
   background-color: rgba(255,0,0, 0.7);
  }
}

.btn-add {
  background-color: rgb(30,144,255);
  &:hover {
   background-color: rgba(30,144,255, 0.7);
  }
}

.btn-save {
  background-color: rgb(50,205,50);
  border: none;
  &:hover {
   background-color: rgba(50,205,50, 0.7);
  }
}

label {
  font-weight: normal;
  letter-spacing: 2px;
  font-size: 14px;
}

input {
  box-shadow: none !important;
}

.col-bootstrap-in-form-left {
  padding-left: 0;
}

.col-bootstrap-in-form-right {
  padding-right: 0;
}

// CHECK-BOXES

.metier-checkboxes {
  display: flex;
  flex-wrap: wrap;
}

.check-box-btn {
  font-size: 12px;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 2px;
  margin: 5px;
  cursor: pointer;
  label {
    margin-bottom: 0;
    cursor: pointer;
  };
  input {
    display: none;
  };
  &:hover {
    background-color: #ccc;
    color: #fff;
  }
}

.check-box-cliked {
  background-color: #ccc;
  color: #fff;
}

.invalid-feedback {
  color: $red;
  font-size: 12px;
}








