.custom-navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  // position: fixed;
  width: 100vw;
  background-color: #fff;
  z-index: 1;
  height: 120px;
  top: 0;
}

.nav-item {
font-family: Montserrat;
font-size: 14px;
font-style: medium;
}

// Dropdown on company item
#company-navbar-item {
  position: relative;
  ul {
    position: absolute;
    padding: 10px 5px;
    list-style: none;
    width: 100%;
    background: #fff;
    display: none;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    line-height: 2;
  }
}

#company-navbar-item ul li {
  padding-left: 2px;
}

#company-navbar-item ul li:hover {
  background-color: #ccc;
}

.company-navbar-item-active {
  display: block !important;
}


.nav-list-small-screen {
  display: none;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
  width: 60%;
  margin-bottom: 0;
  font-size: 14px;
  li a {
    color: $black;
    letter-spacing: 2px;
    transition: all 0.2s;
    &:hover {
      text-decoration: none;
    }
  }
}

.nav-item-active {
  text-decoration: none;
  color: $black;
  border-bottom: 2px solid $red;
  padding-bottom: 4px;
  display: block;
}

.logo {
  background-color: #000;
  border-radius: 2px;
  display: block;
  padding: 20px;
  color: #fff;
  transition: all 1s;
  h1 {
    font-size: 22px;
    font-weight: normal;
    margin: 0;
  };
  span {
    height: 2px;
    width: 80%;
    display: block;
    margin: 0 auto;
    background-color: $red;
  }
  &:hover {
    text-decoration: none;
    color: $red;
  };
  &:hover span {
    background-color: #fff;
  }
}

.navbar-left {
  position: relative;
}

#dropdown-menu-btn {
  display: none;
  font-size: 31px;
  text-align: center;
  width: 65%;
  background: #fff;
  position: absolute;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #ccc;
  bottom: -25px;
  left: 30px;
}

.nav-list-small-screen {
  list-style: none;
  position: absolute;
  padding: 0;
  top: 150px;
  text-align: center;
  background-color: #fff;
  line-height: 2;
  a {
    color: #000;
  }
}

@media screen and (max-width: 1100px) {
  #dropdown-menu-btn {
    display: block;
  };
  .nav-list {
    display: none;
  }
}

#company-sub-categories {
  display: none;
  position: absolute;
  list-style: none;
  padding: 7px;
  font-size: 13px;
  line-height: 2;
  letter-spacing: 1.5px;
}
