.custom-navbar {
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 100vw;
  top: -5px;
  background-color: #fff;
  z-index: 1;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
  width: 60%;
  margin-bottom: 0;
  font-size: 14px;
  li a {
    color: $black;
    letter-spacing: 2px;
    transition: all 0.2s;
    &:hover {
      text-decoration: none;
    } 
  }
}

.nav-item-active {
  text-decoration: none;
  color: $black;
  border-bottom: 2px solid #ccc;
  padding-bottom: 4px;
  display: block;
}

.logo {
  display: flex;
  height: 120px;
  width: 160px;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  color: #3c3c3c;
  background-color: #FF5B5B;
  border-radius: 3px;
  &:hover {
    text-decoration: none;
    color: $black;
  }
}

#company-sub-categories {
  display: none;
  position: absolute;
  list-style: none;
  padding: 7px;
  font-size: 13px;
  line-height: 2;
  letter-spacing: 1.5px;
}
