// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "summernote-bs4";
@import "summernote-custom-theme.min";
@import "summernote-custom-theme.min";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";

body {
  background-color: #fff;
}

// IF NAVBAR FIXED UNCOMMENT THE NEXT 3 LINES !!!!!!

// .page {
//   margin-top: 170px;
// }

.page-realizations,
.page-contact {
  min-height: calc(100vh - 220px);
  display: flex;
  align-items: center;
  .row {
    width: 100%;
    margin: 0 auto;
  }
}
