// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "summernote-bs4";
@import "summernote-custom-theme.min";
@import "summernote-custom-theme.min";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";

body {
  background-color: #fff;
}

// IF NAVBAR FIXED UNCOMMENT THE NEXT 3 LINES !!!!!!

// .page {
//   margin-top: 170px;
// }

#landing-mobile {
  display: none;
  position: fixed;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  z-index: 999;
}

@media screen and (max-width: 800px) {
  #landing-mobile {
    display: flex;
  }
}

.page-realizations,
.page-contact {
  min-height: calc(100vh - 220px);
  display: flex;
  align-items: center;
  .row {
    width: 100%;
    margin: 0 auto;
  }
}

.title-with-bar,
.title-with-short-bar {
  width: fit-content;
  border-left: 1px solid #000;
  padding-left: 15px;
}

.title-with-bar {
  height: 120px;
}

.title-with-short-bar {
  height: 50px;
}
